<div class="footer">
    <div class="footer_1">
        <div class="footer_1_c">
            <dl class="mln">
                <dt class="tit5"><a href="">关于我们</a></dt>
                <dd><a href="">公司简介</a></dd>
                <dd><a href="">体验馆地址</a></dd>
                <dd><a href="">资本支持</a></dd>
            </dl>
            <dl>
                <dt class="tit5"><a href="">联系我们</a></dt>
                <dd>地址：朝阳区北四环望京桥东北角爱空间互联网家装体验馆</dd>
                <dd>电话：4000-511-699</dd>
                <dd>Email：shangwu@ikongjian.com</dd>
            </dl>
            <div class="footer_1_1">
                <div class="tit5">关注我们</div>
                <div class="footer_1_1_1">
                    <div class="footer_1_1_1_1 mln">
                        <div class="footer_1_1_1_1_1"><img src="{IMG_PATH}ikongjian/images/ewm_1.jpg" /></div>
                        <div class="footer_1_1_1_1_2">爱空间官方微信</div>
                    </div>
                    <div class="footer_1_1_1_1">
                        <div class="footer_1_1_1_1_1"><img src="{IMG_PATH}ikongjian/images/ewm_2.jpg" /></div>
                        <div class="footer_1_1_1_1_2">Android App</div>
                    </div>
                    <div class="footer_1_1_1_1">
                        <div class="footer_1_1_1_1_1"><img src="{IMG_PATH}ikongjian/images/ewm_1.jpg" /></div>
                        <div class="footer_1_1_1_1_2">iOS App</div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="footer_2">
        <div class="footer_2_c"> <span class="fl">Copyright@2016爱空间科技(北京)有限公司版权所有</span><span class="fr">京ICP备15007819号-1</span></div>
    </div>
</div>
</body>
</html>