{template "content","header"}
  <div class="clear"></div>
  <div class="bkc">
    <div class="weizhi">
      <h3><span>当前位置 :</span><a href='/'>爱空间</a> > <a href=''>资讯</a> > {catpos($catid)}  </h3>
    </div>
    <div class="content">
      <div class="cleft fl">
        <div class="ck2">
          <div class="titleck"><span class="titleck2">{$catname}</span><span class="titleck3 fr"><img src="{IMG_PATH}ikongjian/images/icon1.png" /> 阅读<font>1099</font></span></div>
          <div class="ck2_1">
            <div class="ck2_1_1 fl"><img src="{$image}" width="320px" /></div>
            <div class="ck2_1_2 fr">{$description}</div>
            <div class="clear"></div>
          </div>
          <div class="ck2_2">
            <div class="ck2_2_1">目录</div>
            <div class="ck2_2_2">
              <div class="ck2_2_2_1" id="ck2_2_2_1">
                <ul>
                    {pc:content action="lists" catid="$catid" num="20" order="id ASC" page="$page"}
                    {loop $data $r}
                    <li><a href="#A{$n}" target="_self">{$r['title']}</a></li>
                    {/loop}
                    {/pc}
                </ul>
              </div>
              <div class="clear"></div>
              <div class="ck2_2_2_2">
                  {pc:content action="lists" catid="$catid" num="20" order="id ASC" page="$page"}
                  {loop $data $r}
                <div class="ck2_2_2_2_1"  id="A{$n}">
                  <div><strong style="font-size:18px;">{$r['title']}</strong></div>
                  {$r['description']}
                  <div><a href="{$r['url']}" class="ckxq fr">查看详情</a></div>
                  <div class="clear"></div>
                </div>
                  {/loop}
                  {/pc}
              </div>
            </div>
          </div>
          <div class="clear"></div>
          <div class="ck2_3">
            <div class="ck2_3_1">相关攻略知识</div>
            <div class="ck2_3_2">
              <ul>
                <li><a href="">什么是保障房 保障房申请条件？</a></li>
                <li><a href="">什么是保障房 保障房申请条件？</a></li>
                <li><a href="">什么是保障房 保障房申请条件？</a></li>
                <li><a href="">什么是保障房 保障房申请条件？</a></li>
                <li><a href="">什么是保障房 保障房申请条件？</a></li>
                <li><a href="">什么是保障房 保障房申请条件？</a></li>
              </ul>
            </div>
          </div>
          <div class="clear"></div>
          <div class="ck2_3">
            <div class="ck2_3_1">相关文章</div>
            <div class="ck2_3_2">
              <ul>
                <li><a href="">什么是保障房 保障房申请条件？</a></li>
                <li><a href="">什么是保障房 保障房申请条件？</a></li>
                <li><a href="">什么是保障房 保障房申请条件？</a></li>
                <li><a href="">什么是保障房 保障房申请条件？</a></li>
                <li><a href="">什么是保障房 保障房申请条件？</a></li>
                <li><a href="">什么是保障房 保障房申请条件？</a></li>
              </ul>
            </div>
          </div>
          <div class="clear"></div>
          <div class="ck2_3">
            <div class="ck2_3_1">相关问答</div>
            <div class="ck2_3_2">
              <ul>
                <li><a href="">什么是保障房 保障房申请条件？</a></li>
                <li><a href="">什么是保障房 保障房申请条件？</a></li>
                <li><a href="">什么是保障房 保障房申请条件？</a></li>
                <li><a href="">什么是保障房 保障房申请条件？</a></li>
                <li><a href="">什么是保障房 保障房申请条件？</a></li>
                <li><a href="">什么是保障房 保障房申请条件？</a></li>
              </ul>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div class="cright fr">
        <div class="rk1">
          <div class="rk1_1"><a href=""><img src="{IMG_PATH}ikongjian/images/rk1_1.jpg" width="355" height="155" /></a></div>
          <div class="rk1_2"><a href=""><img src="{IMG_PATH}ikongjian/images/rk1_2.jpg" width="355" height="155" /></a></div>
          <div class="rk1_3"><a href=""><img src="{IMG_PATH}ikongjian/images/rk1_3.jpg" width="355" height="210" /></a></div>
        </div>
        <div class="rk2">
          <div class="rk2_1">装修热词</div>
          <div class="clear"></div>
          <div class="rk2_3">
            <ul>
              <li><a href="">交房时间</a></li>
              <li><a href="">交房标准</a></li>
              <li><a href="">交房验房</a></li>
              <li><a href="">注意事项</a></li>
              <li><a href="">交房时间</a></li>
              <li><a href="">交房标准</a></li>
              <li><a href="">交房验房</a></li>
              <li><a href="">注意事项</a></li>
              <li><a href="">交房时间</a></li>
              <li><a href="">交房标准</a></li>
              <li><a href="">交房验房</a></li>
              <li><a href="">注意事项</a></li>
              <li><a href="">交房时间</a></li>
              <li><a href="">交房标准</a></li>
              <li><a href="">交房验房</a></li>
              <li><a href="">注意事项</a></li>
              <li><a href="">交房验房</a></li>
              <li><a href="">注意事项</a></li>
            </ul>
            <div class="clear"></div>
          </div>
        </div>
        <div class="rk2">
          <div class="rk2_1">最新装修专题</div>
          <div class="clear"></div>
          <div class="rk2_3">
            <ul>
              <li><a href="">交房时间</a></li>
              <li><a href="">交房标准</a></li>
              <li><a href="">交房验房</a></li>
              <li><a href="">注意事项</a></li>
              <li><a href="">交房时间</a></li>
              <li><a href="">交房标准</a></li>
              <li><a href="">交房验房</a></li>
              <li><a href="">注意事项</a></li>
              <li><a href="">交房时间</a></li>
              <li><a href="">交房标准</a></li>
              <li><a href="">交房验房</a></li>
              <li><a href="">注意事项</a></li>
              <li><a href="">交房时间</a></li>
              <li><a href="">交房标准</a></li>
              <li><a href="">交房验房</a></li>
              <li><a href="">注意事项</a></li>
              <li><a href="">交房验房</a></li>
              <li><a href="">注意事项</a></li>
            </ul>
            <div class="clear"></div>
          </div>
        </div>
        <div class="rk2">
          <div class="rk2_1">最新装修攻略<span class="fr"><a href="">more</a></span></div>
          <div class="clear"></div>
          <div class="rk2_2">
            <ul>
              <li><a href="">• 超棒家居收纳小技巧 善用你的地盘吧~</a></li>
              <li><a href="">• 家居diy：万圣节之夜鬼马狂欢 你家敢这样装饰吗？</a></li>
              <li><a href="">• 什么都不懂也敢自己装修 靠的就是这些绝招了！ </a></li>
              <li><a href="">• 超棒家居收纳小技巧 善用你的地盘吧~</a></li>
              <li><a href="">• 家居diy：万圣节之夜鬼马狂欢 你家敢这样装饰吗？</a></li>
            </ul>
          </div>
        </div>
        <div class="rk2">
          <div class="rk2_1">最新装修资讯<span class="fr"><a href="">more</a></span></div>
          <div class="clear"></div>
          <div class="rk2_2">
            <ul>
              <li><a href="">• 超棒家居收纳小技巧 善用你的地盘吧~</a></li>
              <li><a href="">• 家居diy：万圣节之夜鬼马狂欢 你家敢这样装饰吗？</a></li>
              <li><a href="">• 什么都不懂也敢自己装修 靠的就是这些绝招了！ </a></li>
              <li><a href="">• 超棒家居收纳小技巧 善用你的地盘吧~</a></li>
              <li><a href="">• 家居diy：万圣节之夜鬼马狂欢 你家敢这样装饰吗？</a></li>
            </ul>
          </div>
        </div>
        <div class="rk2">
          <div class="rk2_1">大家都在问<span class="fr"><a href="">more</a></span></div>
          <div class="clear"></div>
          <div class="rk2_2">
            <ul>
              <li><a href="">• 超棒家居收纳小技巧 善用你的地盘吧~</a></li>
              <li><a href="">• 家居diy：万圣节之夜鬼马狂欢 你家敢这样装饰吗？</a></li>
              <li><a href="">• 什么都不懂也敢自己装修 靠的就是这些绝招了！ </a></li>
              <li><a href="">• 超棒家居收纳小技巧 善用你的地盘吧~</a></li>
              <li><a href="">• 家居diy：万圣节之夜鬼马狂欢 你家敢这样装饰吗？</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="bk8">
    <div class="bk8_c">
      <div class="bk8menu">
        <ul>
          <li><a>相关专题</a></li>
          <li><a>精选推荐</a></li>
          <div class="clear"></div>
        </ul>
      </div>
      <div class="bk8mm">
        <div class="bk8m">
          <ul>
            <li class="mln"><a href="">交房验房1</a></li>
            <li><a href="">交房验房</a></li>
            <li><a href="">交房验房</a></li>
            <li><a href="">交房验房</a></li>
            <div class="clear"></div>
          </ul>
        </div>
        <div class="bk8m">
          <ul>
            <li class="mln"><a href="">交房验房2</a></li>
            <li><a href="">交房验房</a></li>
            <li><a href="">交房验房</a></li>
            <li><a href="">交房验房</a></li>
            <div class="clear"></div>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
{template "content","footer"}