{template "content","header"}
  <div class="clear"></div>
  <div class="bkc">
    <div class="weizhi">
      <h3><span>当前位置 :</span><a href='/'>爱空间</a> > <a href=''>资讯</a> > {catpos($catid)}</h3>
    </div>
    <div class="content">
      <div class="cleft fl">
        <div class="ck3">
          <div class="ck3_2"></div>
          <div class="ck4">
            <h1>{$title}</h1>
            <div class="art_info">
              <ul>
                <li><small>发布时间:</small>{$inputtime}</li>
                <li><small>作者:</small>{$username}</li>
                <li><small>来源:</small>{$copyfrom}</li>
                <li><span class="titleck4 fr"><img src="{IMG_PATH}ikongjian/images/icon1.png" /> 阅读 <font id="hits">1099</font></span></li>
              </ul>
            </div>
            <div class="artcon">
              {$content}
            </div>
            <div class="prenext">
              <ul>
                  <li>上一篇：<a href='{$previous_page[url]}'>{$previous_page[title]}</a> </li>
                  <li>下一篇：<a href='{$next_page[url]}'>{$next_page[title]}</a> </li>
              </ul>
            </div>
          </div>
          <div class="ck7">
            <div class="ck7_xg">相关攻略知识</div>
            <div class="ck7_c">
              <ul>
                <li class="bdln"><a href="">交房标准</a></li>
                <li><a href="">交房标准</a></li>
                <li><a href="">交房标准</a></li>
                <li><a href="">交房标准</a></li>
                <li><a href="">交房标准</a></li>
                <li class="bdln"><a href="">交房标准</a></li>
                <li><a href="">交房标准</a></li>
                <li><a href="">交房标准</a></li>
                <li><a href="">交房标准</a></li>
                <li><a href="">交房标准</a></li>
                <li class="bdln"><a href="">交房标准</a></li>
                <li><a href="">交房标准</a></li>
                <li><a href="">交房标准</a></li>
                <li><a href="">交房标准</a></li>
                <li><a href="">交房标准</a></li>
              </ul>
              <div class="clear"></div>
            </div>
          </div>
          <div class="ck7">
            <div class="ck7_xg">相关文章</div>
            <div class="ck7_w">
              <ul>
                <li>• <a href="">交房时要交哪些费用？</a></li>
                <li>• <a href="">交房时要交哪些费用？</a></li>
                <li>• <a href="">交房时要交哪些费用？</a></li>
                <li>• <a href="">交房时要交哪些费用？</a></li>
                <li>• <a href="">交房时要交哪些费用？</a></li>
                <li>• <a href="">交房时要交哪些费用？</a></li>
                <li>• <a href="">交房时要交哪些费用？</a></li>
                <li>• <a href="">交房时要交哪些费用？</a></li>
                <li>• <a href="">交房时要交哪些费用？</a></li>
              </ul>
              <div class="clear"></div>
            </div>
          </div>
          <div class="ck7">
            <div class="ck7_xg">相关问答</div>
            <div class="ck7_w">
              <ul>
                <li>• <a href="">交房时要交哪些费用？</a></li>
                <li>• <a href="">交房时要交哪些费用？</a></li>
                <li>• <a href="">交房时要交哪些费用？</a></li>
                <li>• <a href="">交房时要交哪些费用？</a></li>
                <li>• <a href="">交房时要交哪些费用？</a></li>
                <li>• <a href="">交房时要交哪些费用？</a></li>
                <li>• <a href="">交房时要交哪些费用？</a></li>
                <li>• <a href="">交房时要交哪些费用？</a></li>
                <li>• <a href="">交房时要交哪些费用？</a></li>
              </ul>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="cright fr">
        <div class="rk1">
          <div class="rk1_1"><a href=""><img src="{IMG_PATH}ikongjian/images/rk1_1.jpg" width="355" height="155" /></a></div>
          <div class="rk1_2"><a href=""><img src="{IMG_PATH}ikongjian/images/rk1_2.jpg" width="355" height="155" /></a></div>
          <div class="rk1_3"><a href=""><img src="{IMG_PATH}ikongjian/images/rk1_3.jpg" width="355" height="210" /></a></div>
        </div>
        <div class="rk2">
          <div class="rk2_1">装修热词</div>
          <div class="clear"></div>
          <div class="rk2_3">
            <ul>
              <li><a href="">交房时间</a></li>
              <li><a href="">交房标准</a></li>
              <li><a href="">交房验房</a></li>
              <li><a href="">注意事项</a></li>
              <li><a href="">交房时间</a></li>
              <li><a href="">交房标准</a></li>
              <li><a href="">交房验房</a></li>
              <li><a href="">注意事项</a></li>
              <li><a href="">交房时间</a></li>
              <li><a href="">交房标准</a></li>
              <li><a href="">交房验房</a></li>
              <li><a href="">注意事项</a></li>
              <li><a href="">交房时间</a></li>
              <li><a href="">交房标准</a></li>
              <li><a href="">交房验房</a></li>
              <li><a href="">注意事项</a></li>
              <li><a href="">交房验房</a></li>
              <li><a href="">注意事项</a></li>
            </ul>
            <div class="clear"></div>
          </div>
        </div>
        <div class="rk2">
          <div class="rk2_1">最新装修专题</div>
          <div class="clear"></div>
          <div class="rk2_3">
            <ul>
              <li><a href="">交房时间</a></li>
              <li><a href="">交房标准</a></li>
              <li><a href="">交房验房</a></li>
              <li><a href="">注意事项</a></li>
              <li><a href="">交房时间</a></li>
              <li><a href="">交房标准</a></li>
              <li><a href="">交房验房</a></li>
              <li><a href="">注意事项</a></li>
              <li><a href="">交房时间</a></li>
              <li><a href="">交房标准</a></li>
              <li><a href="">交房验房</a></li>
              <li><a href="">注意事项</a></li>
              <li><a href="">交房时间</a></li>
              <li><a href="">交房标准</a></li>
              <li><a href="">交房验房</a></li>
              <li><a href="">注意事项</a></li>
              <li><a href="">交房验房</a></li>
              <li><a href="">注意事项</a></li>
            </ul>
            <div class="clear"></div>
          </div>
        </div>
        <div class="rk2">
          <div class="rk2_1">最新装修攻略<span class="fr"><a href="">more</a></span></div>
          <div class="clear"></div>
          <div class="rk2_2">
            <ul>
              <li><a href="">• 超棒家居收纳小技巧 善用你的地盘吧~</a></li>
              <li><a href="">• 家居diy：万圣节之夜鬼马狂欢 你家敢这样装饰吗？</a></li>
              <li><a href="">• 什么都不懂也敢自己装修 靠的就是这些绝招了！ </a></li>
              <li><a href="">• 超棒家居收纳小技巧 善用你的地盘吧~</a></li>
              <li><a href="">• 家居diy：万圣节之夜鬼马狂欢 你家敢这样装饰吗？</a></li>
            </ul>
          </div>
        </div>
        <div class="rk2">
          <div class="rk2_1">最新装修资讯<span class="fr"><a href="">more</a></span></div>
          <div class="clear"></div>
          <div class="rk2_2">
            <ul>
              <li><a href="">• 超棒家居收纳小技巧 善用你的地盘吧~</a></li>
              <li><a href="">• 家居diy：万圣节之夜鬼马狂欢 你家敢这样装饰吗？</a></li>
              <li><a href="">• 什么都不懂也敢自己装修 靠的就是这些绝招了！ </a></li>
              <li><a href="">• 超棒家居收纳小技巧 善用你的地盘吧~</a></li>
              <li><a href="">• 家居diy：万圣节之夜鬼马狂欢 你家敢这样装饰吗？</a></li>
            </ul>
          </div>
        </div>
        <div class="rk2">
          <div class="rk2_1">大家都在问<span class="fr"><a href="">more</a></span></div>
          <div class="clear"></div>
          <div class="rk2_2">
            <ul>
              <li><a href="">• 超棒家居收纳小技巧 善用你的地盘吧~</a></li>
              <li><a href="">• 家居diy：万圣节之夜鬼马狂欢 你家敢这样装饰吗？</a></li>
              <li><a href="">• 什么都不懂也敢自己装修 靠的就是这些绝招了！ </a></li>
              <li><a href="">• 超棒家居收纳小技巧 善用你的地盘吧~</a></li>
              <li><a href="">• 家居diy：万圣节之夜鬼马狂欢 你家敢这样装饰吗？</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="bk8">
    <div class="bk8_c">
      <div class="bk8menu">
        <ul>
          <li><a>相关专题</a></li>
          <li><a>精选推荐</a></li>
          <li><a>最新装修专题</a></li>
          <div class="clear"></div>
        </ul>
      </div>
      <div class="bk8mm">
        <div class="bk8m">
          <ul>
            <li class="mln"><a href="">交房验房1</a></li>
            <li><a href="">交房验房</a></li>
            <li><a href="">交房验房</a></li>
            <li><a href="">交房验房</a></li>
            <div class="clear"></div>
          </ul>
        </div>
        <div class="bk8m">
          <ul>
            <li class="mln"><a href="">交房验房1</a></li>
            <li><a href="">交房验房</a></li>
            <li><a href="">交房验房</a></li>
            <li><a href="">交房验房</a></li>
            <div class="clear"></div>
          </ul>
        </div>
        <div class="bk8m">
          <ul>
            <li class="mln"><a href="">交房验房4</a></li>
            <li><a href="">交房验房</a></li>
            <li><a href="">交房验房</a></li>
            <li><a href="">交房验房</a></li>
            <div class="clear"></div>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
<script language="JavaScript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script>
{template "content","footer"}